<div id="main-menu">
  <div class="container">
    <div class="menu-btn-actions">
      <%= link_to image_tag("home-icon.png", class: "menu-icon"), root_path %>
      <%= link_to "Sobre", page_path(page_name: "sobre") %>
      
      <% if user_signed_in? %>
        <%= link_to "Compartilhar Artigo", new_story_path %>
        <%= link_to "Meu Perfil", edit_user_registration_path %>
        <%= link_to "Sair", destroy_user_session_path, :method => :delete %>
      <% else %>
        <%= link_to "Entrar", new_user_session_path %>
        <%= link_to "Criar Conta", new_user_registration_path %>
      <% end %>
    </div>
  </div>
</div>