<div id="main-menu">
  <div class="container">
    <div class="menu-btn-actions">
      <% if user_signed_in? %>
        <div class="menu-btn-actions">
          <div class="menu-links-actions">
            <%= link_to image_tag("home-icon.png", class: "menu-icon"), root_path %>
            <%= link_to "Nova Notícia", new_story_path %>
            <%= link_to "Meu Perfil", edit_user_registration_path %>
            <%= link_to "Sair", destroy_user_session_path, :method => :delete %>
          </div>
        </div>
      <% else %>
        <%= link_to "Entrar", new_user_session_path %>
      <% end %>
    </div>
  </div>
</div>