<div id="main-menu">
  <div class="menu-btn-actions">
    <section>
      <div class="row">
        <div class="col-md-1">
          <p><%= image_tag avatar_url(current_user), class: "user-photo" %></p>
        </div>
        <div class="col-md-11">
          <p>
            <strong>Username:</strong>
            <%= current_user.username %>
          </p>
          <p>
            <strong>Email:</strong>
            <%= current_user.email %>
          </p>
          <p>
            <strong><%= current_user.stories.count %> artigos compartilhados</strong>
          </p>
        </div>
    </section>
    <div class="menu-links-actions">
      <%= link_to image_tag("home-icon.png", class: "menu-icon"), root_path %>
      <%= link_to "Sobre", page_path(page_name: "sobre") %>
      <%= link_to "Compartilhar Artigo", new_story_path %>
      <%= link_to "Editar Perfil", edit_user_registration_path %>
      <%= link_to "Sair", destroy_user_session_path, :method => :delete %>
    </div>
  </div>
</div>
