<section id="profile-info">
  <div class="row">
    <div class="col-md-12">
      <article>
        <%= image_tag avatar_url(current_user), class: "user-photo" %>
      </article>

      <article>
        <p>
          <strong><%= t("activerecord.attributes.user.username") %>:</strong>
          <%= current_user.username %>
        </p>
        <p>
          <strong>Email:</strong>
          <%= current_user.email %>
        </p>
        <p>
          <strong><%= current_user.stories.count %> artigos compartilhados</strong>
        </p>
      </article>
    </div>
  </div>
</section>
