<!DOCTYPE html>
<html>
<head>
  <title>Saúde Diário</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <%= yield :head %>
  <%= csrf_meta_tags %>

  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53beadf81aadc972"></script>
</head>
<body>
<%= render "shared/facebook_api" %>

<div id="wrapper">
  <div class="container">
    <%= render "shared/header" %>


    <%= render "shared/main_menu" %>


    <div id="content">
      <%= render "shared/profile_menu" %>
      <%= render "shared/flash_messages" %>
      <%= yield %>
    </div>
  </div>

  <%= render "shared/footer" %>
</div>

<%= render "shared/google_analytics" %>

</body>
</html>
